div{
    border: 2px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    height: 100px;
}
.box1{
    background-color: green;
}
.box2{
    background-color: yellow;
    position: absolute;
    width: 20%;
    margin: 10px 0px 10px 0px;

}
.box3{
    background-color: coral;
    width: 70%;
    /* margin-left: auto; */
    margin: 10px 0px 10px auto;

}
.box4{
    background-color: yellow;
    width: 20%;
    position: absolute;
}
.box5{
    background-color: aqua;
    width: 70%;
    margin-left: auto;
}